<div class="container">
  <%= link_to 'Back', posts_path, class: "bi-arrow-left" %>
</div>
<h1 class="text-center">New Disaster Information</h1>
<%= render partial: 'form', locals: { post: @post } %>
